
## dossier pour les fichiers perso
docs

## on y met les DB on veut qu'ils soient dispo:
data

## fichier de configuration
config.php

## c'est le dossier qui heberge les bibliothèques externes via composer
vendor

## PHPStorm
.idea
