nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 70px; 
    padding: 20px;
    background: #048b9abd;
    border-radius: 0% 50%;
}

.img{
    width: 100%;
    height: auto;
}

.public-nav{
    background-image: url(../asset/img/bannieretest.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
   
}
.titre{
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

/* .logo{
    display: flex;
    justify-content: left;
    align-items: left;
} */
