.picturehome{
    width: 15%;
    display : block ;
    margin :  auto ;  
}

.textehome{
    text-align: justify;
    margin: 30px 350px;
    font-family: serif;
}

.section-home{
   width: 80%;
   margin: auto;
   height: fit-content;
}

.article-home{
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 5rem;
    color: #ef9628;
    
   
    
}

.article-home:nth-of-type(odd) img {
    float: left;
    width: 40%;
    
}

.article-home:nth-of-type(even) img {
    float: right;
}

.article-home:nth-of-type(even) {
    text-align: right;
}



.article-home img{
    width: 40%;
}

.h2{
    margin: 10px;
}

.textehome1:nth-of-type(odd){
    text-align: justify;
    margin-left: 700px;
    margin-top: -30px;
    font-family: serif;
}


.textehome1:nth-of-type(even){
    margin-right: 700px;
    text-align: justify;
        margin-top: -30px;
        font-family: serif;
}


main{
    font-family: sans-serif;
}

.circle1{
    display: block;
    background:  #c9eaec;
    border-radius: 50%;
    width: 110vw;
    height: 115vw;
    position: absolute;
    z-index: -2;
    right: 70%;
   
}