.picturehome{
    width: 20%;
    display : block ;
    margin :  auto ;  
}

.textehome{
    text-align: justify;
    margin: 0 200px;
}

.section-home{
   width: 80%;
   margin: auto;
   height: fit-content;
}

.article-home{
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 5rem;
    color: #F67829;
    
}

.article-home:nth-of-type(odd) img {
    float: left;
    width: 40%;
}

.article-home:nth-of-type(even) img {
    float: right;
}

.article-home:nth-of-type(even) {
    text-align: right;
}



.article-home img{
    width: 40%;
}

.h2{
    margin: 10px;
}

.textehome1{
    text-align: justify;
}

