.picturehome{
    width: 20%;
    display : block ;
    margin :  auto ;  
}

.textehome{
    text-align: justify;
    margin: 0 200px;
}

.section-home{
   width: 80%;
   margin: auto;
   height: fit-content;
}

.article-home{
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 2rem;
    color: #F67829;
}

.article-home:nth-of-type(even){
    text-align: right;
}

.article-home img{
    width: 40%;
}