.intro{
    text-align: center;
}
.livre{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap:1em;
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
    line-height: 2.5em;
}
.border_livre{
    border: solid 2px #04889a;
    border-radius: 10px;
}
.lo{
    width: 70%;
    margin: 0 auto;
    border: solid 2px #04889a;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
}
.alignRight{
    justify-self: end;
}
.send{
    grid-column: span 2;
    text-align: center;
}
input, textarea{
    padding: 0.25em 0.5em;
}
#bouton_LO{
    padding: 0.5em 1.5em;
    cursor: pointer;
}