/* 
CSS générale pour tout ce qui sera commun à chaque page (ex: couleur, background, typo...) 
On fera des CSS spécifiques pour les éléments spécifiques (formulaires et autres)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}






/* tour de magie pour jawad : */
/* .paragraphe img {
    float: left;
}

.paragraphe:nth-of-type(even) img {
    float: right;
} */