/* 
CSS générale pour tout ce qui sera commun à chaque page (ex: couleur, background, typo...) 
On fera des CSS spécifiques pour les éléments spécifiques (formulaires et autres)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	min-width: 100%;
}

body{
	flex-grow: 1;
}

nav a {
    text-decoration: none;
    color: black;
}

.img{
width: 100%;
height: auto;

}
.public-nav{
    background-image: url(../asset/img/bannieretest.png);
    border-radius: 0 0 20% 20%;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    text-align: center;
}

/* tour de magie pour jawad : */
/* .paragraphe img {
    float: left;
}

.paragraphe:nth-of-type(even) img {
    float: right;
} */