/* 
CSS générale pour tout ce qui sera commun à chaque page (ex: couleur, background, typo...) 
On fera des CSS spécifiques pour les éléments spécifiques (formulaires et autres)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;  /*pour que la page HTML fasse au moins la taille de l'écran entier*/
	display: flex;
    flex-direction: column;
}
body{
	font-family: "Roboto Condensed",Georgia,Times,"Times New Roman",serif;
	display: flex;
	flex-direction: column;
    flex-grow: 1;   /*pour que le body recouvre toute la page HTML*/
    overflow-x:hidden;
}
main{
	padding: 0 1em;
	flex-grow: 1;
}

h1{
    text-align: center;
	padding: .5em;
	color: #048b9a;
}
h2{
	padding: 0.5em 0;
	font-family: "Roboto Condensed",Georgia,Times,"Times New Roman",serif;
}
h3{
	margin: 0.5em 0;
}
.empty{      /*div vide pour faire des espaces entre différents blocs*/
    height: 2em;   
}

footer{
    width: 100%;
    display: flex;
	position: relative;
    flex-direction: row;
    justify-content: space-around;
	margin-top: 1em;
}

/*------------------pour le bouton de connexion admin-----------------*/
.btn{
	left: 0;
	bottom: 0;
	position: absolute;
}

/*---------------------bouton Back To Top ----------------------------*/
#btt {    		
	color: #0c0c0cc5;

	background-color: white;
	font-style: italic;
	font-weight: bold;
	border: solid 2px #04889a;
	padding: 1em 0.75em;
	transition: background 0.3s ease-in-out;
	border-radius: 15px;
	display: none;
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; 
	right: 30px; 
	z-index: 99;
	outline: none; 
	cursor: pointer;
}

